@import '~antd/dist/antd.css';
a,ins{text-decoration:none}
article,aside,canvas,details,figcaption,figure,footer,header,hgroup,hr,menu,nav,section,summary{display:block}
a,hr{border:0;padding:0}
abbr,address,article,aside,audio,b,blockquote,body,canvas,caption,cite,code,dd,del,details,dfn,div,dl,dt,em,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,ins,kbd,label,legend,li,mark,menu,nav,object,ol,p,pre,q,samp,section,small,span,strong,sub,summary,sup,table,tbody,td,tfoot,th,thead,time,tr,ul,var,video{margin:0;padding:0;border:0;outline:0;font-size:28px;vertical-align:baseline;background:0 0}
ins,mark{background-color:#ff9;color:#000}
body{line-height:1}
:focus{outline:0}
nav ul,ul{list-style:none}
blockquote,q{quotes:none}
blockquote:after,blockquote:before,q:after,q:before{content:'';content:none}
a{margin:0;font-size:100%;vertical-align:baseline;background:0 0}
mark{font-style:italic;font-weight:700}
del{text-decoration:line-through}
abbr[title],dfn[title]{border-bottom:1px dotted #000;cursor:help}
table{border-collapse:collapse;border-spacing:0}
hr{height:1px;border-top:1px solid #ccc;margin:1em 0}
input,select{vertical-align:middle}
body,button,h1,h2,h3,h4,input{font-family:Arial,"Microsoft YaHei";}
body *{
    max-height: 99999px;
}
.App{
  background:#eeeeee;
  padding-bottom: 40px;
  overflow: hidden;
}
.App-header{
  width:100%;
  height: 100px;
  background:#108ee9;
  color:#ffffff;
  line-height: 100px;
  display:flex;
  justify-content: space-between;
  position:fixed;
  top:0;
  z-index: 999;
}
.App-footer{
  width:100%;
  height: 80px;
  border-top:1px solid #999999;
  background:#ffffff;
  color:#999999;
  line-height: 100px;
  display:flex;
  justify-content: space-between;
  position:fixed;
  bottom: -1px;
  z-index: 999;
}
.addlist{
  width: 100px;
  height: 100px;
  position: absolute;
  top: -30px;
  left: 330px;
  background: #ffffff;
  border: 2px solid #999999;
  border-radius: 50%;
  font-size: 60px;
  padding-top: 17px;
}
.App-nav{
  display:flex;
  justify-content: space-around;
  width: 100%;
  align-items: center;
  padding-top: 17px;
}
.nav-icon{
  width:50px;
  height: 50px;
  font-size: 48px;
}
.classification{
  padding-top: 145px;
  display:flex;
  justify-content: space-around;
}
.default{
  width: 138px;
  padding: 10px 10px;
  color: #ec7259;
  border: 1px solid #ec7259;
  font-size: 28px;
  border-radius: 40px;
  background: #ffffff;
  text-align: center;
  line-height:30px;
}
.active{
  width: 140px;
  padding: 10px 10px;
  color: #ffffff;
  font-size: 28px;
  border-radius: 40px;
  background: #ec7259;
  text-align: center;
  line-height:30px;
}
.App-header h3{
  font-size:30px;
  margin-left: 20px;
  color: #fff;
}
.App-header h4{
  font-size:24px;
  margin-right: 20px;
  color: #fff;
}
.list {
  width:660px;
  background:#ffffff;
  border-radius: 20px;
  margin:40px auto;
  padding: 20px;
}
.list .ant-input-group-wrapper{
  margin-top:30px;
}
.list .ant-select-selection__rendered{
  line-height:42px;
}
.ant-select-dropdown-menu-item{
 font-size:26px !important; 
 line-height: 35px !important;
}
.question{
  font-size: 32px;
  line-height: 47px;
  margin: 20px 0 0 20px;
}
.question span{
  font-size:34px;
  color:red;
}
.answer{
  font-size:34px;
  color:green;
  margin:20px 0 0 20px;
}
.answer_p{
  font-size: 32px;
  line-height: 47px;
  margin: 20px 0 0 20px;
}
.answer_p span{
  font-size:34px;
  color:green;
}
.answer_list{
  margin:20px 0 0 20px;
}
.answer_list li{
  font-size:28px;
  line-height:45px;
  color: #555555;
}
.explain_title{
  font-size:28px;
  line-height:50px;
  color:#999999;
  border-bottom: 1px solid #999999;
  margin:20px 0 20px 0;
  position: relative;
}
.explain_triangle{
  width: 0;
  height: 0;
  border: 15px solid;
  border-color:#999999 transparent transparent;
  position: absolute;
  right: 0;
  top: 20px;
}
.explain_triangle_df{
  width: 0;
  height: 0;
  border: 15px solid;
  border-color: transparent transparent #999999;
  position: absolute;
  right: 0;
  top: 5px;
}
.explain_content p{
  font-size: 26px;
  line-height:40px;
}
.explain_content h3{
  font-size:24px;
  color: #999999;
  margin-top:20px;
}
.explain_content h3 a{
  color: #108ee9;
}
.answer_list li:active{ 
  background-color:#108ee9;
  color: #ffffff;
}
.alertshow{
  width:250px;
  background: rgba(000,000,000,.8);
  color: #ffffff;
  line-height: 40px;
  font-size: 28px;
  position: fixed;
  top: 50%;
  left: 50%;
  margin-left: -130px;
  text-align: center;
  padding: 10px 20px;
}
.alertshow2{
  width:250px;
  background: rgba(000,000,000,.8);
  color: #ffffff;
  line-height: 40px;
  font-size: 28px;
  position: fixed;
  top: 50%;
  left: 50%;
  margin-left: -130px;
  text-align: center;
  padding: 10px 20px;
}
.grading{
  font-size: 40px;
  color: red;
}
.errrep{
  width:100%;
  background: #ffffff;
  padding:60px 20px;
  margin-bottom: 80px;
}
.list_surface{
  padding:110px 0;
}
.errrep .errrep_title{
  font-size: 34px;
  color:#000000; 
  line-height:40px;
  margin-left: 20px;
  width:670px;
  display:flex;
  justify-content:space-between;
}
.errrep .errrep_title span{
  font-size:30px;
}
.errrep .errrep_title .errrep_sure{
  color:green;
}
.errrep .errrep_title .errrep_num{
  color:red;
}
.err_list{
  padding-bottom: 20px;
  width: 710px;
  border-bottom: 1px solid #999999;
}
.err_relevant{
  font-size: 24px;
  color: #999999;
  margin: 20px 0 0 20px;
}
.introduce{
  color: #999999;
}
.login{
  padding: 110px 0;
  position: fixed;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.login input{
  width:450px;
  height: 70px;
  margin:0 auto;
  margin-top: 20px;
  font-size: 28px;
  border-radius:10px;
}
.login input:nth-of-type(1){
  margin-top: 80px;
}
.login input::-webkit-input-placeholder {
  font-size: 28px;
}
.bread{
  margin-top:150px !important;
}
.login_btn{
  width: 450px;
  height: 70px !important;
  line-height: 70px !important;
  margin-top: 30px;
  border-radius: 10px !important;
}
.answer_title{
  padding-top:110px;
}
.addtopic{
  padding:110px 30px;
}
.addtopic input{
  height: 60px;
  margin-top: 30px;
  font-size: 28px;
  border-radius: 10px;
}
.addtopic textarea{
  margin-top: 30px;
  font-size: 28px;
  border-radius: 10px;
}
.addquestion,.addanswer,.addlink{
  font-size: 28px;
  margin:30px 0 0 0;
}
.addanswer_icon{
  width: 40px;
  display: block !important;
  height: 40px;
  font-size: 40px;
  margin: 20px auto;
  color: #999999 !important;
}
.addanswer_icon_big{
  width: 80px;
  display: block !important;
  height: 80px;
  font-size: 80px;
  margin: 30px auto;
  color: #999999 !important;
}
.ant-select-selection--single{
  height: 44px !important;
}
.ant-select-arrow{
  margin-top:-13px !important;
}
.listanswer_title{
  margin-top:50px;
}
.surebtn{
  height: 65px !important;
  display:block !important;
  margin:0 auto;
}